.box {
  border: 1px black solid;
  background-color: #282c34;
  padding: 75px 25px 75px 25px;
  width: 800px;
  margin: auto;
}
.img {
  height: 400px;
}
h2 {
  color: orange;
}
p,
h1 {
  color: white;
}

.biggerBox {
  margin-top: 20px;
  padding: 30px;
  width: 850px;
  margin: auto;
  background-color: white;
}
body {
  background-color: #eceff1;
}
